	*{margin:0;padding: 0;}
			.clear{ *zoom:1; } 
			.clear:after{ visibility: none; content:""; display:block; clear:both; height:0; }

			#slider_wrap{margin:0 auto;position: relative;background: pink;}
			#slider_inner{width:1000%;height: 100%;position: absolute;left: 0;top:0;}
			#slider_inner img{width:10%;height: 100%;float: left;}